body
  margin: 0

window
  display: flex
  flex-direction: column
  overflow: auto
  position: absolute
  resize: both
  padding: 3px
  border: 1px solid black

  & > h2
    margin: 0

  & > iframe
    border: none
    width: 100%
    flex: 2
