body
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif
  font-weigth: 300
  margin: 0

window
  display: flex
  flex-direction: column
  overflow: auto
  position: absolute
  resize: both
  padding: 3px
  border: 1px solid gray

  & > h2
    background-color: blue
    color: white
    margin: 0
    border-bottom: 1px solid gray

  & > iframe
    border: none
    width: 100%
    flex: 2
